# Python 101- glob, pandas, if 

##### 2023 Summer Student Program, Dep. of Earth Sciences, NTNU
###### Jing-Hui Tong 2023/06/16

In [5]:
import glob
import pandas as pd
import numpy as np

In [6]:
datapath = '/Volumes/OBS_Data'
network = 'ET'

### glob 抓取路徑下檔案名稱
看看這些指令有什麼差別？

In [7]:
glob.glob(f'{datapath}/{network}/*')

['/Volumes/OBS_Data/ET/ET05',
 '/Volumes/OBS_Data/ET/ET03',
 '/Volumes/OBS_Data/ET/ET07',
 '/Volumes/OBS_Data/ET/ET_stations_info.csv',
 '/Volumes/OBS_Data/ET/00_ET_PZs',
 '/Volumes/OBS_Data/ET/00_ET_Data_quality',
 '/Volumes/OBS_Data/ET/ET11',
 '/Volumes/OBS_Data/ET/ET12',
 '/Volumes/OBS_Data/ET/ET14',
 '/Volumes/OBS_Data/ET/ET15',
 '/Volumes/OBS_Data/ET/ET16',
 '/Volumes/OBS_Data/ET/ET10',
 '/Volumes/OBS_Data/ET/ET00',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle']

In [8]:
glob.glob(f'{datapath}/{network}/ET*')

['/Volumes/OBS_Data/ET/ET05',
 '/Volumes/OBS_Data/ET/ET03',
 '/Volumes/OBS_Data/ET/ET07',
 '/Volumes/OBS_Data/ET/ET_stations_info.csv',
 '/Volumes/OBS_Data/ET/ET11',
 '/Volumes/OBS_Data/ET/ET12',
 '/Volumes/OBS_Data/ET/ET14',
 '/Volumes/OBS_Data/ET/ET15',
 '/Volumes/OBS_Data/ET/ET16',
 '/Volumes/OBS_Data/ET/ET10',
 '/Volumes/OBS_Data/ET/ET00']

In [9]:
glob.glob(f'{datapath}/{network}/ET??')

['/Volumes/OBS_Data/ET/ET05',
 '/Volumes/OBS_Data/ET/ET03',
 '/Volumes/OBS_Data/ET/ET07',
 '/Volumes/OBS_Data/ET/ET11',
 '/Volumes/OBS_Data/ET/ET12',
 '/Volumes/OBS_Data/ET/ET14',
 '/Volumes/OBS_Data/ET/ET15',
 '/Volumes/OBS_Data/ET/ET16',
 '/Volumes/OBS_Data/ET/ET10',
 '/Volumes/OBS_Data/ET/ET00']

In [10]:
sorted(glob.glob(f'{datapath}/{network}/ET??'))

['/Volumes/OBS_Data/ET/ET00',
 '/Volumes/OBS_Data/ET/ET03',
 '/Volumes/OBS_Data/ET/ET05',
 '/Volumes/OBS_Data/ET/ET07',
 '/Volumes/OBS_Data/ET/ET10',
 '/Volumes/OBS_Data/ET/ET11',
 '/Volumes/OBS_Data/ET/ET12',
 '/Volumes/OBS_Data/ET/ET14',
 '/Volumes/OBS_Data/ET/ET15',
 '/Volumes/OBS_Data/ET/ET16']

In [13]:
glob.glob(f'{datapath}/{network}/*csv')

['/Volumes/OBS_Data/ET/ET_stations_info.csv']

In [14]:
glob.glob(f'{datapath}/{network}/*csv')[0]

'/Volumes/OBS_Data/ET/ET_stations_info.csv'

In [12]:
glob.glob(f'{datapath}/{network}/00*/*')

['/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET03_HH1__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET03_HH2__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET03_HHZ__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET05_HH1__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET05_HH2__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET05_HHZ__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET07_HH1__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET07_HH2__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET07_HHZ__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_Y1506_HHP',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_Y1506_HHP_TORILOGGER',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET11_HH1__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET11_HH2__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET11_HHZ__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET12_HH1__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET12_HH2__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET12_HHZ__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET14_HH1__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET14_HH2__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET14_HHZ__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET15_HH1__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET15_HH2__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET15_HHZ__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET16_HH1__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET16_HH2__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET16_HHZ__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET10_HDH__2021.279.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET10_HH1__2021.279.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET10_HH2__2021.279.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET10_HHZ__2021.279.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET11_HDH__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET12_HDH__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET14_HDH__2021.278.00.00.00.0000_2022.232.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET15_HDH__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET16_HDH__2021.275.00.00.00.0000_2022.231.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET00_HDH__2020.332.00.00.00.0000_2021.275.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET00_HH1__2020.332.00.00.00.0000_2021.275.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET00_HH2__2020.332.00.00.00.0000_2021.275.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET00_HHZ__2020.332.00.00.00.0000_2021.275.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET03_HDH__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET05_HDH__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_PZs/SAC_PZs_ET_ET07_HDH__2020.330.00.00.00.0000_2021.279.23.59.59.99999',
 '/Volumes/OBS_Data/ET/00_ET_Data_quality/01_ET_PSD',
 '/Volumes/OBS_Data/ET/00_ET_Data_quality/02_ET_Recordplot',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle/ET_ori_ang_Patty_20220322.csv',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle/Orientation_ET_bySu_README.txt',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle/Orientation_ET_bySu.csv',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle/OrientationResults_ET_v2.pdf',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle/OrientationResults_ET_v2.key',
 '/Volumes/OBS_Data/ET/00_ET_Orietation_angle/Orientation_ET_20230612.csv']

## 看NAS檔案

In [15]:
network = 'ET'

### <font color=purple>Short partices: </font>
    please print the first 5 Z component path of each station
    The format likes network/Data/year/day/*.mseed

In [24]:
for STApath in sorted(glob.glob(f'{datapath}/{network}/ET??')):
    print(STApath)
    STA = STApath.rsplit('/')[-1]
    # print(STA)
    # for yyyypath in sorted(glob.glob(f'{STApath}/Data/????')):
        # print(yyyypath)
        # ...

/Volumes/OBS_Data/ET/ET00
/Volumes/OBS_Data/ET/ET03
/Volumes/OBS_Data/ET/ET05
/Volumes/OBS_Data/ET/ET07
/Volumes/OBS_Data/ET/ET10
/Volumes/OBS_Data/ET/ET11
/Volumes/OBS_Data/ET/ET12
/Volumes/OBS_Data/ET/ET14
/Volumes/OBS_Data/ET/ET15
/Volumes/OBS_Data/ET/ET16

### if condition 
https://medium.com/ccclub/ccclub-python-for-beginners-tutorial-ae8becaf165e

In [25]:
datapath

'/Volumes/OBS_Data'

### <font color=purple>Short partices:  </font>
    please print the path of network='YM', year=2007 using if condition

In [27]:
for netpath in sorted(glob.glob(f'{datapath}/??')): #/*/Data/*/365')):
    print(netpath)
#     network = 
    
#     STA = STApath.rsplit('/')[-1]

#     if network == 'YM':
    
            
#      elif  ( your condition):

/Volumes/OBS_Data/BO
/Volumes/OBS_Data/DS
/Volumes/OBS_Data/ET
/Volumes/OBS_Data/OT
/Volumes/OBS_Data/PS
/Volumes/OBS_Data/SL
/Volumes/OBS_Data/TW
/Volumes/OBS_Data/XB
/Volumes/OBS_Data/YM
/Volumes/OBS_Data/ZA

## Pandas: a module can read .csv/.txt ...

In [28]:
csvfile = '/Volumes/OBS_Data/ET/ET_stations_info.csv'

In [29]:
df = pd.read_csv(csvfile)

In [30]:
df

,station,network,latitude,longitude,altitude,altitude_unit,description,sensor,recorder,deployment_time,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,ET00,ET,22.17110,121.12020,-1238,m,offshoreTaitung,trillium compact 120s,TORI,20201127-20211002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ET02,ET,22.66920,121.29850,-1290,m,offshoreTaitung,trillium compact 120s,YB-IES,20201126-20211006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET03,ET,22.67220,121.27850,-1207,m,offshoreTaitung,trillium compact 120s,TORI,20201126-20211006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ET04,ET,22.69172,121.29575,-1188,m,offshoreTaitung,trillium compact 120s,TORI,20201126-?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ET05,ET,22.78400,121.31920,-1084,m,offshoreTaitung,trillium compact 120s,YB-IES,20201126-20211005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ET07,ET,22.53050,122.27810,-4744,m,offshoreTaitung,trillium compact 120s,TORI,20201125-20211003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ET08,ET,21.92760,122.17720,-4373,m,offshoreTaitung,trillium compact 120s,TORI,20201125-?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ET09,ET,22.66496,121.27558,-1268,m,offshoreTaitung,trillium compact 120s,YB-IES,20211007-?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ET10,ET,22.67320,121.36990,-1335,m,offshoreTaitung,trillium compact 120s,TORI,20211006-20220819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ET11,ET,22.63893,121.61290,-3792,m,offshoreTaitung,trillium compact 120s,YB-IES,20211005-20220820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ET12,ET,22.65690,121.71177,-4015,m,offshoreTaitung,trillium compact 120s,YB-IES,20211004-20220820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ET13,ET,22.64025,121.82639,-4342,m,offshoreTaitung,trillium compact 120s,YB-IES,20211004-?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ET14,ET,22.63791,121.94062,-4557,m,offshoreTaitung,trillium compact 120s,YB-IES,20211004-20220821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ET15,ET,22.38495,121.08577,-1105,m,offshoreTaitung,trillium compact 120s,YB-IES,20211002-20220819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ET16,ET,22.16931,121.11652,-1239,m,offshoreTaitung,trillium compact 120s,YB-IES,20211002-20220819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### DataFrame: 用來處理雙維度的資料，也就是具有列(row)與欄(column)的資料集

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
# 查看所有的colunm名字
df.columns

Index(['station', 'network', 'latitude', 'longitude', 'altitude',
       'altitude_unit', 'description', 'sensor', 'recorder', 'deployment_time',
       'note', 'data_quality', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [34]:
df.keys()

Index(['station', 'network', 'latitude', 'longitude', 'altitude',
       'altitude_unit', 'description', 'sensor', 'recorder', 'deployment_time',
       'note', 'data_quality', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

### 讀取每一欄的內容

In [44]:
df['station']

0     ET00
1     ET02
2     ET03
3     ET04
4     ET05
5     ET07
6     ET08
7     ET09
8     ET10
9     ET11
10    ET12
11    ET13
12    ET14
13    ET15
14    ET16
Name: station, dtype: object

In [36]:
df['station'][3:5]

3    ET04
4    ET05
Name: station, dtype: object

In [37]:
print(df['station'].iloc[0])
print(df['station'].iloc[5])

ET00
ET07

In [39]:
print(df['station'].values[0])
print(df['station'].values[5])

ET00
ET07

### 設定條件得到某一個測站的所有內容

In [40]:
df[df['station']=='ET00']

,station,network,latitude,longitude,altitude,altitude_unit,description,sensor,recorder,deployment_time,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,ET00,ET,22.1711,121.1202,-1238,m,offshoreTaitung,trillium compact 120s,TORI,20201127-20211002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df[df['altitude']<= -4000]

,station,network,latitude,longitude,altitude,altitude_unit,description,sensor,recorder,deployment_time,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
5,ET07,ET,22.53050,122.27810,-4744,m,offshoreTaitung,trillium compact 120s,TORI,20201125-20211003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ET08,ET,21.92760,122.17720,-4373,m,offshoreTaitung,trillium compact 120s,TORI,20201125-?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ET12,ET,22.65690,121.71177,-4015,m,offshoreTaitung,trillium compact 120s,YB-IES,20211004-20220820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ET13,ET,22.64025,121.82639,-4342,m,offshoreTaitung,trillium compact 120s,YB-IES,20211004-?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ET14,ET,22.63791,121.94062,-4557,m,offshoreTaitung,trillium compact 120s,YB-IES,20211004-20220821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  <font color=purple>Short partices:
    The HHZ data of all available stations on 2022/007 should be printed 
</font>

In [ ]:
for i in range(len(df)):
    NET = df['network'].....
    STA = df['station'].....

### please set the variables and print  lon, lat, alt 

    print(f'{NET}.{STA}: {lon}, {lat}, {alt}m')
    
#     for stapath in sorted(glob.glob(f'{datapath}/......')):
#         print(stapath)